body {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    min-height: 1000px;
    height: auto;
    background: rgb(252,241,188);
    background: linear-gradient(90deg, rgba(252,241,188,1) 0%, rgba(255,255,255,1) 100%);
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1 span {
    font-weight: bold;
}

form {
    margin: 10px auto;
    height: 300px;
    width: 40vw;
    min-width: 300px;
}

label {
    font-style: italic;
    display: block;
    width: 100%;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

input {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(184, 184, 184, 0.787);
    margin-bottom: 30px;
    display: block;
    width: 100%;
    height: 30px;
}

.box_button {
    margin: 10px auto;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.box_button button {
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    background-color: #367867;
    height: 35px;
    width: 90px;
    cursor: pointer;
}

.box_button button:hover{
    background-color: #2a6253;
}

section {
    margin: 0px auto;
    width: 40vw;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    margin-top: 20px;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(47, 47, 47, 0.773);
    border-radius: 3px;
    width: 45%;
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}

article p {
    margin-top: 10px;
}

article p:nth-child(2) {
    height: 70px;
    word-wrap: break-word;
}

article button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -5px;
    top: -5px;
    background-color: red;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 20px;
    color:white;
    cursor: pointer;
}

@media (max-width: 900px) {  
    article {
        width: 100%;
    }
}